body{
    background: #121212;
}
#container{
    position: relative;
    width:100%;
    margin-top:80px ;
    margin-bottom: 20px;
    height: 100%;
    box-sizing: border-box;
    background: #121212 url(../images/bgHome-1800x911.jpg) no-repeat center center;
    background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
}
#content{
    width: 100%;
}
#content li{
    text-align: center;
    width: 100%;
    font-size: 70px;
    line-height: 75px;
    background: none;
    -webkit-transition: background .3s ease-in .1s;
    transition: background .3s ease-in .1s;
}
#content li:hover{
    background: rgba(0,0,0,0.8);
}
#content li a{
    color: #fff;
    font-family: fproLight;
}

